. {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    //The text-rendering property in CSS allows you to choose quality of text over speed (or vice versa) allowing you to fine tune optimization by suggesting to the browser as to how it should render text on the screen. -webkit-font-smoothing: antialiased !important;
    height: 100%;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none !important;
    transition: all 500ms ease-in-out !important;
}

    a:hover, a:active {
        text-decoration: none;
    }

h1, h2, h4 {
    font-family: 'PT Sans Narrow',Arial, sans-sarif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btnCustom, btnCustom:link, btnCustom:active {
    font-weight: 500 !important;
    font-size: 15px !important;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #F2F2F2;
    background: transparent;
    border: 2px solid #F2F2F2 !important;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

    .btnCustom:hover {
        background-color: #f4511e !important;
        color: #fff !important;
        border: 2px solid #eb7b20 !important;
    }
/* Navigation */
.navbar {
    background-color: #222222 !important;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow',Arial, sans-sarif;
    font-weight: 700;
}

    .navbar i {
    }

    .navbar a {
        color: #fff !important;
        opacity: 0.7;
    }

    .navbar li a:hover {
        opacity: 1;
        background-color: #f4511e !important;
    }

    .navbar-brand,
    .navbar li a:active {
        opacity: 1 !important;
    }

.navbar-form {
    margin: 5 10px;
    padding: 0 20px;
    width: 20% !important;
}

@media(max-width: 768px) {
    .navbar-form {
        width: 70%;
    }

    .btnCustom {
        font-size: 7px !important;
    }
}

/* Navigation End*/
