. {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    //The text-rendering property in CSS allows you to choose quality of text over speed (or vice versa) allowing you to fine tune optimization by suggesting to the browser as to how it should render text on the screen. -webkit-font-smoothing: antialiased !important;
    height: 100%;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    transition: all 500ms ease-in-out;
}

    a:hover, a:active {
        text-decoration: none;
    }

h1, h2, h4 {
    font-family: 'PT Sans Narrow',Arial, sans-sarif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btnCustom, btnCustom:link, btnCustom:active {
    font-weight: 500 !important;
    font-size: 15px !important;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #F2F2F2;
    background: transparent;
    border: 2px solid #F2F2F2 !important;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

    .btnCustom:hover {
        background-color: #f4511e !important;
        color: #fff !important;
        border: 2px solid #eb7b20 !important;
    }
/* Navigation */
.navbar {
    background-color: #222222 !important;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow',Arial, sans-sarif;
    font-weight: 700;
}

    .navbar i {
    }

    .navbar a {
        color: #fff !important;
        opacity: 0.7;
    }

    .navbar li a:hover {
        opacity: 1;
        background-color: #f4511e !important;
    }

    .navbar-brand,
    .navbar li a:active {
        opacity: 1 !important;
    }

.navbar-form {
    margin: 5 10px;
    padding: 0 20px;
    width: 20% !important;
}

@media(max-width: 768px) {
    .navbar-form {
        width: 70%;
    }

    .btnCustom {
        font-size: 7px !important;
    }
}

/* Navigation End*/

/*Carousel Start*/
.carousel {
    margin-top: 25px;
    max-height: 600px;
}

    .carousel .carousel-inner .item img {
        height: 600px;
    }

.carousel-caption h3 {
    font-size: 30px;
}

.carousel-caption p {
    font-size: 15px;
}


@media(max-width: 768px) {
    .carousel {
        margin-top: 30px;
    }

        .carousel .carousel-inner .item img {
            height: 200px;
        }

    .carousel-caption p, h3 {
        font-size: 10px;
        line-height: 10px;
        margin: 5px 0;
    }
}
/*End Carousel */

/* Team */
.team {
    padding: 50px 0 80px;
    text-align: center;
}

    .team b,
    .team h2,
    .team h4 {
        margin: 20px 0 20px;
        color: #4c4c4c;
    }

    .team p {
        color: #737373;
    }

    .team img {
        height: 200px;
        width: 200px;
        margin-top: 80px;
    }

    .team i {
        height: 30px;
        width: 30px;
        padding: 5px;
        font-size: 17px;
        border-radius: 50%;
        background-color: #ed9437;
        color: #fff;
    }

    .team a:hover i {
        background-color: #f4511e;
    }

/*End Team*/
/*Category*/
.form {
    width: 100%;
    padding: 50px 0 80px;
    text-align: center;
    margin-top: 0px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}
/*End Category*/
/* SignUp Start */
.control-label {
}

.signup {
    width: 100%;
    padding: 50px 0 80px;
    text-align: center;
    margin-top: 0px;
    background-image: url('../images/coverImages/SignUp(1).jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}

    .signup p {
        text-align: center;
        color: #fff;
        background-color: #ed9437;
        width: 40%;
        padding: 10px 0px;
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 30px;
    }

    .signup h2 {
        font-size: 40px;
        font-weight: 700;
        padding-top: 30px;
    }

    .signup .input-group {
        margin-bottom: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .signup .form-control {
        border-radius: 2 !important;
    }

    .signup span {
        border-radius: 2 !important;
    }

    .signup .btn {
        width: 70%;
    }

    .signup h2,
    .signup .btn {
        margin-bottom: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }

@media(max-width: 768px) {
    .signup {
        padding: 30px;
    }

        .signup h1 {
            font-size: 20px;
        }

        .signup p {
            font-size: 10px;
        }
}
/* Signup ends */

/*Reviews */
.reviews {
    padding: 50px 0 40px;
    text-align: center;
}

    .reviews h2 {
        color: #4c4c4c;
        margin: 20px 0 20px;
    }

.indicatorsCus li {
    border-color: #f4511e !important;
}

    .indicatorsCus li.active {
        background-color: #f4511e !important;
    }

.item h4 {
    margin-bottom: 100px;
    margin-top: 70px;
    font-style: italic;
    color: #737373;
}

.item span {
    font-style: normal;
}

@media(max-width: 768px) {
    .item h4 {
        padding: 0 20%;
    }
}
/* end reviews */

/*Who we are*/
.brandbox {
    padding: 50px 0 80px;
    text-align: center;
    margin-top: 50px;
    background-image: url('../images/coverImages/SignUp(1).jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}

    .brandbox p {
        text-align: center;
        color: #fff;
        width: 40%;
        padding: 10px 0px;
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 30px;
    }

    .brandbox h2 {
        font-size: 40px;
        font-weight: 700;
        padding-top: 30px;
    }

    .brandbox h2 {
        margin-bottom: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }

@media(max-width: 768px) {
    .brandbox {
        padding: 30px;
    }

        .brandbox h2 {
            font-size: 20px;
        }

        .brandbox p {
            font-size: 10px;
        }
}




/*end who we are */

/* new itemss */

/*End new items*/




/*Brands start */
.brands {
    padding: 50px 0 30px;
    background-color: #fff;
    text-align: center;
    color: #4c4c4c;
}

    .brands h2 {
        padding: 20px 0 20px;
    }

    .brands p {
        padding-bottom: 5px;
    }

    .brands img {
        width: 200px;
        cursor: pointer;
        margin: 40px 0;
        position: center;
        transition: all 500ms ease-in-out;
    }

/*End Brands*/

/*Featured Products*/



/*end featured products*/


/* Footer */
.footer {
    padding: 30px;
    color: #cccccc;
    background-color: #222222;
    text-align: left;
}

    .footer .social {
        font-size: 20px;
        height: 30px;
        width: 30px;
        text-align: center;
        padding: 5px;
        border: 1px solid #cccccc margin-bottom:10px;
        margin-right: 5px;
    }
/*End Footer*/
